.btn-small{
  text-decoration: none;
  background-color: rgb(245,245,245);
  color: rgb(80,80,80);
  font-family: 'Montserrat', serif;
  font-size: 14px;
  padding: 5px 11px 5px 15px;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(140,140,140);
  border-width: 1px;
  transition: 0.2s ease;
  display: block;
}

.btn-small:hover{
  background-color: rgb(253,253,253);
}
